* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    margin: 10px;
    margin-bottom: 40px;
    font-size: 2em;
}

.app-container {
    display: flex;
    flex-direction: column;
    border: 7px solid black;
    border-radius: 2em;
    width: 50vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: 2em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    border: none;
}

.stopwatch {
    padding: 20px;
    font-size: 5em;
}